@using CITPracticum.ViewModels;
@model CreateTimeEntryViewModel;

@{
    ViewData["Title"] = "Create Time Entry";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            <h4 class="offset-2">Create Time Entry</h4>
        </p>
        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Sorry! </b>@TempData["Error"]</span>
            </div>
        }
        <div class="row">
            <div class="col-md-8 offset-2">
                <form method="post" asp-controller="Timesheet" asp-action="SubmitTimeEntry" asp-route-id="@Model.Placement.Id" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="NewTimeEntry.ShiftDate" class="control-label">Shift Date:</label>
                        <input type="date" asp-for="NewTimeEntry.ShiftDate" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" required />
                        <span asp-validation-for="NewTimeEntry.ShiftDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewTimeEntry.Description" class="control-label mt-2">Description:</label>
                        <input asp-for="NewTimeEntry.Description" class="form-control" required />
                        <span asp-validation-for="NewTimeEntry.Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewTimeEntry.Hours" class="control-label mt-2">Hours (e.g., "8.5" for 8 hours and 30 minutes):</label>
                        <input asp-for="NewTimeEntry.Hours" class="form-control" required />
                        <span asp-validation-for="NewTimeEntry.Hours" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-2">
                        <input class="btn btn-outline-success float right" type="submit" value="Create Entry" />
                        @if (User.IsInRole("admin"))
                        {
                            <a class="btn btn-outline-secondary" asp-controller="Timesheet" asp-action="ViewTimesheet" asp-route-id="@Model.Placement.Id">Cancel</a>
                        } else
                        {
                            <a class="btn btn-outline-secondary" asp-controller="Timesheet" asp-action="ViewTimesheet">Cancel</a>
                        }

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>