@using CITPracticum.ViewModels;

@model LoginViewModel

@{
    Layout = "_LoginLayout"; // This specifies that no layout should be used
}

@if (TempData["Error"] != null)
{
    <div class="col-md-12 mt-2 alert alert-danger">
        <span><b>Sorry! </b>@TempData["Error"]</span>
    </div>
}

<script>
    function password_show_hide() {
        var x = document.getElementById("loginPassword");
        var show_eye = document.getElementById("show_eye");
        var hide_eye = document.getElementById("hide_eye");
        hide_eye.classList.remove("d-none");
        if (x.type === "password") {
            x.type = "text";
            show_eye.style.display = "none";
            hide_eye.style.display = "block";
        } else {
            x.type = "password";
            show_eye.style.display = "block";
            hide_eye.style.display = "none";
        }
    }
</script>

<style>
    .login-container {
        min-height: 100vh; /* This makes sure that the container is full height */
    }

    .login-card {
        max-width: 500px; /* Adjust the width of the card to your preference */
        margin-left: auto; /* This centers the card vertically and horizontally */
        margin-right: auto;
        margin-top: 100px;
    }

    .login-img {
        margin-bottom: 20px;
    }

    .btn-custom {
        background-color: #69a620; /* This is a Bootstrap green color */
        border-color: #69a620; /* Same as the background */
    }

        .btn-custom:hover {
            background-color: #218838; /* A slightly darker green for hover effect */
            border-color: #1e7e34;
        }
</style>

<div class="login-container">
    <div class="card login-card p-4 shadow">
        <img src="~/images/lc.png" alt="Lethbridge College Logo" class="w-50 h-50 login-img mx-auto d-block">
        <div class="card-body">
            <h4 class="card-title mb-4">CIT Practicum Login</h4>
            <hr />
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="EmailAddress" class="form-label">Email Address</label>
                    <input asp-for="EmailAddress" class="form-control" id="username" aria-describedby="usernameHelp">
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                </div>

                <label asp-for="Password" class="form-label">Password</label>
                <div class="input-group">
                    <input asp-for="Password" id="loginPassword" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <div class="input-group-append">
                        <span class="input-group-text h-100" onclick="password_show_hide();">
                            <i class="fa-solid fa-eye" id="show_eye"></i>
                            <i class="fa-solid fa-eye-slash d-none" id="hide_eye"></i>
                        </span>
                    </div>
                </div>

                <input type="submit" class="btn text-white btn-custom w-100 mb-2 mt-3" value="Log in" />
            </form>
                <button type="button" class="btn btn-link w-100" data-bs-toggle="modal" data-bs-target="#forgotPasswordModal">
                    Forgot Password?
                </button>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="forgotPasswordModal" tabindex="-1" aria-labelledby="forgotPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="forgotPasswordModalLabel">Forgot Password?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>If you have forgotten or misplaced your password and would like to reset it, you will need to email Stephen. From there he will contact you with a new password.</p>
                    <div class="mb-3">
                        <label>Send an email to:</label><br />
                        <a href="mailto:stephen.graham@lethbridgecollege.ca">stephen.graham@lethbridgecollege.ca</a><br />

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <a href="mailto:stephen.graham@lethbridgecollege.ca" class="btn btn-primary">Send Email</a>
                    </div>
            </div>
        </div>
    </div>
</div>