@using CITPracticum.Data.Enum;
@using CITPracticum.ViewModels;
@model CreateFormDViewModel

@{
    ViewData["Title"] = "Practicum Forms";
    ViewData["CurrentPage"] = "Practicum Forms > Form D";
}

<a href="/PracticumForm/Index"><i class="fa-solid fa-arrow-left fa-xl"></i></a>
<div class="mx-auto" style="width: 65%;">
    <form>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">CIT 2271 - IT Practicum Evaluation (Form D)</h3>
                <hr />
            </div>
        </div>
        <ul class="nav nav-tabs mb-4" role="tablist">
            <li class="nav-item">
                <a class="nav-link" href="/PracticumForm/CreateFormFOIP">Form FOIP</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/PracticumForm/CreateFormID">Form ID</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/PracticumForm/CreateFormA">Form A</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/PracticumForm/CreateFormB">Form B</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/PracticumForm/CreateFormC">Form C</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/PracticumForm/CreateFormD">Form D</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/PracticumForm/CreateFormExitInterview">Exit Interview</a>
            </li>
        </ul>
        <div class="row mb-3">
            <div class="col-md-4">
                <label for="supervisorName" class="form-label">Practicum Supervisor:</label>
                <input type="text" class="form-control" id="practicumSupervisor">
            </div>
            <div class="col-md-4">
                <label for="supervisorPosition" class="form-label">Organization:</label>
                <input type="text" class="form-control" id="organization">
            </div>
            <div class="col-md-4">
                <label for="supervisorEmail" class="form-label">Student Name:</label>
                @if (User.IsInRole("student"))
                {
                    <input asp-for="StuName" type="text" class="form-control" readonly>
                }
                else
                {
                    <input asp-for="StuName" type="text" class="form-control">
                }
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-2">
                <p>Faculty Advisor:</p>
            </div>
            <div class="col-md-8">
                <ul style="list-style-type: none; margin-left: 0; padding-left: 0;">
                    <li><h6 class="mb-2">Stephen Graham</h6></li>
                    <li><p class="mb-2"><a href="mailto:stephen.graham@lethbridgecollege.ca">stephen.graham@lethbridgecollege.ca</a></p></li>
                    <li><p><a href="tel:4033203202">(403) 320-3202 ext 5794</a></p></li>
                </ul>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-2">
                <p>Program Assistant:</p>
            </div>
            <div class="col-md-8">
                <ul style="list-style-type: none; margin-left: 0; padding-left: 0;">
                    <li><h6 class="mb-2">Toni Gfrerer</h6></li>
                    <li><p><a href="mailto:toni.gfrerer@lethbridgecollege.ca">toni.gfrerer@lethbridgecollege.ca</a></p></li>
                </ul>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <ol>
                    <li>Please complete this form after the student has finished 100 hours of work</li>
                    <li>Discuss the evaluation with the student and provide them a copy.</li>
                    <li>Return the completed copy to the Faculty Advisor or Program Assistant.</li>
                </ol>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <p><b>Please use the following ratings in evaluating the practicum students.</b></p>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-2">
                <p>Excellent:</p>
            </div>
            <div class="col-md-10">
                <p>Meets professional level standards</p>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-2">
                <p>Good:</p>
            </div>
            <div class="col-md-10">
                <p>Adequately fulfills expectations</p>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-2">
                <p>Fair:</p>
            </div>
            <div class="col-md-10">
                <p>
                    Inconsistent, needs work to achieve acceptable standards.
                    Please explain “fair” ratings in “comments” section.
                </p>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">A.</th>
                    <th scope="col">Professionalism</th>
                    <th scope="col">Rating</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1.</td>
                    <td>The student is on time, organized and prepared to work.</td>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating38" id="excellent1" value="Excellent" checked>
                                <label class="form-check-label" for="excellent1">Excellent</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating38" id="good1" value="Good">
                                <label class="form-check-label" for="good1">Good</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating38" id="fair1" value="Fair">
                                <label class="form-check-label" for="fair1">Fair</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating38" id="na1" value="N/A">
                                <label class="form-check-label" for="na1">N/A</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>The student's attire and grooming is appropriate.</td>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating39" id="excellent1" value="Excellent" checked>
                                <label class="form-check-label" for="excellent1">Excellent</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating39" id="good1" value="Good">
                                <label class="form-check-label" for="good1">Good</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating39" id="fair1" value="Fair">
                                <label class="form-check-label" for="fair1">Fair</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating39" id="na1" value="N/A">
                                <label class="form-check-label" for="na1">N/A</label>
                            </div>
                        </div>
                    </td>


                </tr>
                <tr>
                    <td>3.</td>
                    <td>The student is dependable.</td>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating40" id="excellent1" value="Excellent" checked>
                                <label class="form-check-label" for="excellent1">Excellent</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating40" id="good1" value="Good">
                                <label class="form-check-label" for="good1">Good</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating40" id="fair1" value="Fair">
                                <label class="form-check-label" for="fair1">Fair</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating40" id="na1" value="N/A">
                                <label class="form-check-label" for="na1">N/A</label>
                            </div>
                        </div>
                    </td>


                </tr>
                <tr>
                    <td>4.</td>
                    <td>The student understands and follows company policies and procedures.</td>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating41" id="excellent1" value="Excellent" checked>
                                <label class="form-check-label" for="excellent1">Excellent</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating41" id="good1" value="Good">
                                <label class="form-check-label" for="good1">Good</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating41" id="fair1" value="Fair">
                                <label class="form-check-label" for="fair1">Fair</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating41" id="na1" value="N/A">
                                <label class="form-check-label" for="na1">N/A</label>
                            </div>
                        </div>
                    </td>


                </tr>
                <tr>
                    <td>5.</td>
                    <td>The student presents a professional image when dealing with co-workers or clients of the company.</td>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating42" id="excellent1" value="Excellent" checked>
                                <label class="form-check-label" for="excellent1">Excellent</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating42" id="good1" value="Good">
                                <label class="form-check-label" for="good1">Good</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating42" id="fair1" value="Fair">
                                <label class="form-check-label" for="fair1">Fair</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating42" id="na1" value="N/A">
                                <label class="form-check-label" for="na1">N/A</label>
                            </div>
                        </div>
                    </td>


                </tr>
                <tr>
                    <td colspan="4">
                        <textarea class="form-control" rows="3" placeholder="Enter comments for Section A"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">B.</th>
                    <th scope="col">Professionalism</th>
                    <th scope="col">Rating</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1.</td>
                    <td>The student understands the company's chain of command and follows it.</td>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating43" id="excellent1" value="Excellent" checked>
                                <label class="form-check-label" for="excellent1">Excellent</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating43" id="good1" value="Good">
                                <label class="form-check-label" for="good1">Good</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating43" id="fair1" value="Fair">
                                <label class="form-check-label" for="fair1">Fair</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating43" id="na1" value="N/A">
                                <label class="form-check-label" for="na1">N/A</label>
                            </div>
                        </div>
                    </td>


                </tr>
                <tr>
                    <td>2.</td>
                    <td>The student follows instructions and asks for clarification if needed.</td>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating44" id="excellent1" value="Excellent" checked>
                                <label class="form-check-label" for="excellent1">Excellent</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating44" id="good1" value="Good">
                                <label class="form-check-label" for="good1">Good</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating44" id="fair1" value="Fair">
                                <label class="form-check-label" for="fair1">Fair</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating44" id="na1" value="N/A">
                                <label class="form-check-label" for="na1">N/A</label>
                            </div>
                        </div>
                    </td>


                </tr>
                <tr>
                    <td>3.</td>
                    <td>The student communicates effectively in both written and oral form.</td>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating45" id="excellent1" value="Excellent" checked>
                                <label class="form-check-label" for="excellent1">Excellent</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating45" id="good1" value="Good">
                                <label class="form-check-label" for="good1">Good</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating45" id="fair1" value="Fair">
                                <label class="form-check-label" for="fair1">Fair</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating45" id="na1" value="N/A">
                                <label class="form-check-label" for="na1">N/A</label>
                            </div>
                        </div>
                    </td>


                </tr>
                <tr>
                    <td>4.</td>
                    <td>The student is able to contribute at meetings.</td>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating46" id="excellent1" value="Excellent" checked>
                                <label class="form-check-label" for="excellent1">Excellent</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating46" id="good1" value="Good">
                                <label class="form-check-label" for="good1">Good</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating46" id="fair1" value="Fair">
                                <label class="form-check-label" for="fair1">Fair</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating46" id="na1" value="N/A">
                                <label class="form-check-label" for="na1">N/A</label>
                            </div>
                        </div>
                    </td>


                </tr>
                <tr>
                    <td>5.</td>
                    <td>The student exhibits tact and diplomacy prior to making comments.</td>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating47" id="excellent1" value="Excellent" checked>
                                <label class="form-check-label" for="excellent1">Excellent</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating47" id="good1" value="Good">
                                <label class="form-check-label" for="good1">Good</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating47" id="fair1" value="Fair">
                                <label class="form-check-label" for="fair1">Fair</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating47" id="na1" value="N/A">
                                <label class="form-check-label" for="na1">N/A</label>
                            </div>
                        </div>
                    </td>


                </tr>
                <tr>
                    <td>6.</td>
                    <td>The student demonstrates effective learning skills at all levels of placement.</td>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating48" id="excellent1" value="Excellent" checked>
                                <label class="form-check-label" for="excellent1">Excellent</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating48" id="good1" value="Good">
                                <label class="form-check-label" for="good1">Good</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating48" id="fair1" value="Fair">
                                <label class="form-check-label" for="fair1">Fair</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating48" id="na1" value="N/A">
                                <label class="form-check-label" for="na1">N/A</label>
                            </div>
                        </div>
                    </td>


                </tr>
                <tr>
                    <td>7.</td>
                    <td>The student facilitates appropriate conflict resolution strategies.</td>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating49" id="excellent1" value="Excellent" checked>
                                <label class="form-check-label" for="excellent1">Excellent</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating49" id="good1" value="Good">
                                <label class="form-check-label" for="good1">Good</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating49" id="fair1" value="Fair">
                                <label class="form-check-label" for="fair1">Fair</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating49" id="na1" value="N/A">
                                <label class="form-check-label" for="na1">N/A</label>
                            </div>
                        </div>
                    </td>


                </tr>
                <tr>
                    <td>8.</td>
                    <td>The student is willing to accept constructive feedback.</td>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating50 id="excellent1" value="Excellent" checked>
                                <label class="form-check-label" for="excellent1">Excellent</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating50" id="good1" value="Good">
                                <label class="form-check-label" for="good1">Good</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating50" id="fair1" value="Fair">
                                <label class="form-check-label" for="fair1">Fair</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating50" id="na1" value="N/A">
                                <label class="form-check-label" for="na1">N/A</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <textarea class="form-control" rows="3" placeholder="Enter comments for Section B"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">C.</th>
                    <th scope="col">Professionalism</th>
                    <th scope="col">Rating</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1.</td>
                    <td>The student has the ability to problem solve and make appropriate decisions.</td>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating51" id="excellent3" value="Excellent" checked>
                                <label class="form-check-label" for="excellent1">Excellent</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating51" id="good2" value="Good">
                                <label class="form-check-label" for="good1">Good</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating51" id="fair3" value="Fair">
                                <label class="form-check-label" for="fair1">Fair</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating51" id="na4" value="N/A">
                                <label class="form-check-label" for="na1">N/A</label>
                            </div>
                        </div>
                    </td>


                </tr>
                <tr>
                    <td>2.</td>
                    <td>The student is creative, innovative and flexible when completing assigned duties.</td>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating52" id="excellent1" value="Excellent" checked>
                                <label class="form-check-label" for="excellent1">Excellent</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating52" id="good1" value="Good">
                                <label class="form-check-label" for="good1">Good</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating52" id="fair1" value="Fair">
                                <label class="form-check-label" for="fair1">Fair</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating52" id="na1" value="N/A">
                                <label class="form-check-label" for="na1">N/A</label>
                            </div>
                        </div>
                    </td>


                </tr>
                <tr>
                    <td>3.</td>
                    <td>The student takes responsibility and follows through with decisions once made.</td>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating53" id="excellent1" value="Excellent" checked>
                                <label class="form-check-label" for="excellent1">Excellent</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating53" id="good1" value="Good">
                                <label class="form-check-label" for="good1">Good</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating53" id="fair1" value="Fair">
                                <label class="form-check-label" for="fair1">Fair</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating53" id="na1" value="N/A">
                                <label class="form-check-label" for="na1">N/A</label>
                            </div>
                        </div>
                    </td>


                </tr>
                <tr>
                    <td>4.</td>
                    <td>The student works independently or as a team member as required.</td>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating54" id="excellent1" value="Excellent" checked>
                                <label class="form-check-label" for="excellent1">Excellent</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating54" id="good1" value="Good">
                                <label class="form-check-label" for="good1">Good</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating54" id="fair1" value="Fair">
                                <label class="form-check-label" for="fair1">Fair</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating54" id="na1" value="N/A">
                                <label class="form-check-label" for="na1">N/A</label>
                            </div>
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>5.</td>
                    <td>The student has a high productivity level—is industrious, and completes quality work.</td>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating55" id="excellent1" value="Excellent" checked>
                                <label class="form-check-label" for="excellent1">Excellent</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating55" id="good1" value="Good">
                                <label class="form-check-label" for="good1">Good</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating55" id="fair1" value="Fair">
                                <label class="form-check-label" for="fair1">Fair</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating55" id="na1" value="N/A">
                                <label class="form-check-label" for="na1">N/A</label>
                            </div>
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>6.</td>
                    <td>The student is capable of managing pressure and stressful situations appropriately.</td>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating56" id="excellent1" value="Excellent" checked>
                                <label class="form-check-label" for="excellent1">Excellent</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating56" id="good1" value="Good">
                                <label class="form-check-label" for="good1">Good</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating56" id="fair1" value="Fair">
                                <label class="form-check-label" for="fair1">Fair</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating56" id="na1" value="N/A">
                                <label class="form-check-label" for="na1">N/A</label>
                            </div>
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>7.</td>
                    <td>The student respects schedules and meets deadlines.</td>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating57" id="excellent1" value="Excellent" checked>
                                <label class="form-check-label" for="excellent1">Excellent</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating57" id="good1" value="Good">
                                <label class="form-check-label" for="good1">Good</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating57" id="fair1" value="Fair">
                                <label class="form-check-label" for="fair1">Fair</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating57" id="na1" value="N/A">
                                <label class="form-check-label" for="na1">N/A</label>
                            </div>
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>8.</td>
                    <td>The student is able to change to meet the demands of a new environment or settings.</td>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating58" id="excellent1" value="Excellent" checked>
                                <label class="form-check-label" for="excellent1">Excellent</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating58" id="good1" value="Good">
                                <label class="form-check-label" for="good1">Good</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating58" id="fair1" value="Fair">
                                <label class="form-check-label" for="fair1">Fair</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating58" id="na1" value="N/A">
                                <label class="form-check-label" for="na1">N/A</label>
                            </div>
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>9.</td>
                    <td>The student has the ability to anticipate needs and to plan ahead; possesses good organizational skills.</td>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating59" id="excellent1" value="Excellent" checked>
                                <label class="form-check-label" for="excellent1">Excellent</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating59" id="good1" value="Good">
                                <label class="form-check-label" for="good1">Good</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating59" id="fair1" value="Fair">
                                <label class="form-check-label" for="fair1">Fair</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating59" id="na1" value="N/A">
                                <label class="form-check-label" for="na1">N/A</label>
                            </div>
                        </div>
                    </td>


                </tr>
                <tr>
                    <td>10.</td>
                    <td>The student has a learning attitude.</td>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating60" id="excellent1" value="Excellent" checked>
                                <label class="form-check-label" for="excellent1">Excellent</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating60" id="good1" value="Good">
                                <label class="form-check-label" for="good1">Good</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating60" id="fair1" value="Fair">
                                <label class="form-check-label" for="fair1">Fair</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating60" id="na1" value="N/A">
                                <label class="form-check-label" for="na1">N/A</label>
                            </div>
                        </div>
                    </td>


                </tr>
                <tr>
                    <td>11.</td>
                    <td>The student is prepared to work with commonly encountered business software/hardware.</td>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating61" id="excellent1" value="Excellent" checked>
                                <label class="form-check-label" for="excellent1">Excellent</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating61" id="good1" value="Good">
                                <label class="form-check-label" for="good1">Good</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating61" id="fair1" value="Fair">
                                <label class="form-check-label" for="fair1">Fair</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating61" id="na1" value="N/A">
                                <label class="form-check-label" for="na1">N/A</label>
                            </div>
                        </div>
                    </td>


                </tr>
                <tr>
                    <td>12.</td>
                    <td>The student possesses a broad-based and comprehensive understanding of current information technologies.</td>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating62" id="excellent1" value="Excellent" checked>
                                <label class="form-check-label" for="excellent1">Excellent</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating62" id="good1" value="Good">
                                <label class="form-check-label" for="good1">Good</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating62" id="fair1" value="Fair">
                                <label class="form-check-label" for="fair1">Fair</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rating62" id="na1" value="N/A">
                                <label class="form-check-label" for="na1">N/A</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <textarea class="form-control" rows="3" placeholder="Enter comments for Section C"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row mb-3">
            <div class="col-md-12">
                <label class="form-label" for="pracComments">Practicum supervisor's comments:</label>
                <textarea class="form-control" rows="3" id="pracComments" placeholder="Comments"></textarea>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <label class="form-label" for="studentComments">Student's comments:</label>
                <textarea class="form-control" rows="3" id="pracComments" placeholder="Comments"></textarea>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <label class="form-label" for="instComments">Instructor's comments:</label>
                <textarea class="form-control" rows="3" id="instComments" placeholder="Comments"></textarea>
            </div>
        </div>
        <div class="modal-footer sticky justify-content-center">
            <div>
                <a href="/PracticumForm/Index" class="btn btn-danger">Cancel</a>
            </div>
            <input type="submit" class="btn btn-success" value="Submit" />
        </div>
    </form>
</div>
