@using CITPracticum.Data.Enum;
@using CITPracticum.ViewModels;
@model Placement

<a href="/PracticumForm/Index"><i class="fa-solid fa-arrow-left fa-xl"></i></a>
<div class="mx-auto" style="width: 65%;">
    <form method="post" asp-action="FormASubmit" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">Host Information (Form A)</h3>
                <hr />
            </div>
        </div>
        <ul class="nav nav-tabs mb-4" role="tablist">
            <li class="nav-item">
                <a class="nav-link" href="/PracticumForm/CreateFormFOIP">Form FOIP</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/PracticumForm/CreateFormID">Form ID</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/PracticumForm/CreateFormA">Form A</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/PracticumForm/CreateFormB">Form B</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/PracticumForm/CreateFormC">Form C</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/PracticumForm/CreateFormD">Form D</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/PracticumForm/CreateFormExitInterview">Exit Interview</a>
            </li>
        </ul>
        <div class="row mb-3">

            <div class="col-md-4">
                <label asp-for="PracticumForms.FormA.StuLastName" class="form-label">Student Last Name:</label>
                @if (User.IsInRole("student"))
                {
                    <input asp-for="PracticumForms.FormA.StuLastName" type="text" class="form-control" value="@Model.Student.LastName" readonly />
                }
                else
                {
                    <input asp-for="PracticumForms.FormA.StuLastName" type="text" class="form-control" />
                }
                <span asp-validation-for="PracticumForms.FormA.StuLastName" class="text-danger"></span>

            </div>
            <div class="col-md-4">
                <label asp-for="PracticumForms.FormA.StuFirstName" class="form-label">Student First Name:</label>
                @if (User.IsInRole("student"))
                {
                    <input asp-for="PracticumForms.FormA.StuFirstName" type="text" class="form-control" value="@Model.Student.FirstName" readonly />
                }
                else
                {
                    <input asp-for="PracticumForms.FormA.StuFirstName" type="text" class="form-control" />
                }
                <span asp-validation-for="PracticumForms.FormA.StuFirstName" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="PracticumForms.FormA.StuId" class="form-label">Student ID:</label>
                @if (User.IsInRole("student"))
                {
                    <input asp-for="PracticumForms.FormA.StuId" type="text" class="form-control" value="@Model.Student.StuId" readonly>
                }
                else
                {
                    <input asp-for="PracticumForms.FormA.StuId" type="text" class="form-control">
                }
                <span asp-validation-for="PracticumForms.FormA.StuId" class="text-danger"></span>
            </div>

        </div>


        <!-- Program, Host Company, Type of Organization -->
        <div class="row mb-3">
            <div class="col-md-4">
                <label asp-for="PracticumForms.FormA.Program" class="form-label">Program: </label>
                <input asp-for="PracticumForms.FormA.Program" type="text" class="form-control" value="Computer Information Technology" readonly>
                <span asp-validation-for="PracticumForms.FormA.Program" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="PracticumForms.FormA.HostCompany" class="form-label">Host Company:</label>
                <input asp-for="PracticumForms.FormA.HostCompany" type="text" class="form-control">
                <span asp-validation-for="PracticumForms.FormA.HostCompany" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="PracticumForms.FormA.OrgType" class="form-label">Type of organization:</label>
                <input asp-for="PracticumForms.FormA.OrgType" type="text" class="form-control">
                <span asp-validation-for="PracticumForms.FormA.OrgType" class="text-danger"></span>
            </div>
        </div>

        <!-- Supervisor's Name, Position, and Email -->
        <div class="row mb-3">
            <div class="col-md-4">
                <label asp-for="PracticumForms.FormA.SVName" class="form-label">Supervisor's name:</label>
                <input asp-for="PracticumForms.FormA.SVName" type="text" class="form-control">
                <span asp-validation-for="PracticumForms.FormA.SVName" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="PracticumForms.FormA.SVPosition" class="form-label">Supervisor's position:</label>
                <input asp-for="PracticumForms.FormA.SVPosition" type="text" class="form-control">
                <span asp-validation-for="PracticumForms.FormA.SVPosition" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="PracticumForms.FormA.SVEmail" class="form-label">Supervisor's e-mail:</label>
                <input asp-for="PracticumForms.FormA.SVEmail" type="text" class="form-control">
                <span asp-validation-for="PracticumForms.FormA.SVEmail" class="text-danger"></span>
            </div>
        </div>
        <!-- ... other fields ... -->
        <div class="row mb-3">
            <div class="col-md-4">
                <label asp-for="PracticumForms.FormA.SVPhoneNumber" class="form-label">Phone number:</label>
                <input asp-for="PracticumForms.FormA.SVPhoneNumber" type="text" class="form-control">
                <span asp-validation-for="PracticumForms.FormA.SVPhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <!-- ... other fields ... -->

        <div class="form-group mb-3">
            <label asp-for="PracticumForms.FormA.SVCredentials" class="form-label">Supervisor's Credentials</label>
            <div class="col-md-9">
                <input class="form-check-input" type="checkbox" name="CredentialsList" value="CIT Diploma" /><span class="mx-2">CIT Diploma</span>
                <input class="form-check-input" type="checkbox" name="CredentialsList" value="IS Degree" /><span class="mx-2">IS Degree</span>
                <input class="form-check-input" type="checkbox" name="CredentialsList" value="CS Degree" /><span class="mx-2">CS Degree</span>
            </div>
            <span asp-validation-for="PracticumForms.FormA.SVCredentials" class="text-danger"></span>
        </div>
        <div class="row mb-3">
            <div>
                <label asp-for="PracticumForms.FormA.SVCredOther" class="form-label">Other Credentials:</label>
                <input asp-for="PracticumForms.FormA.SVCredOther" type="text" class="form-control">
                <span asp-validation-for="PracticumForms.FormA.SVCredOther" class="text-danger"></span>
            </div>
        </div>

        <!-- ... other fields ... -->
        <div class="row mb-3">
            <div class="col-md-4">
                <label asp-for="PracticumForms.FormA.Address.Street" class="form-label">Street:</label>
                <input asp-for="PracticumForms.FormA.Address.Street" type="text" class="form-control">
            </div>
            <div class="col-md-4">
                <label asp-for="PracticumForms.FormA.Address.City" class="form-label">City:</label>
                <input asp-for="PracticumForms.FormA.Address.City" type="text" class="form-control">
            </div>
            <div class="col-md-4">
                <label asp-for="PracticumForms.FormA.Address.Prov" class="form-label">Province:</label>
                <input asp-for="PracticumForms.FormA.Address.Prov" type="text" class="form-control">
            </div>
            <div class="col-md-4">
                <label asp-for="PracticumForms.FormA.Address.Country" class="form-label">Country:</label>
                <input asp-for="PracticumForms.FormA.Address.Country" type="text" class="form-control">
            </div>
            <div class="col-md-4">
                <label asp-for="PracticumForms.FormA.Address.PostalCode" class="form-label">Postal Code:</label>
                <input asp-for="PracticumForms.FormA.Address.PostalCode" type="text" class="form-control">
            </div>
        </div>
        <!-- ... other fields ... -->
        <div class="row mb-3">
            <div class="col-md-4">
                <label asp-for="PracticumForms.FormA.StartDate" class="form-label">Date you expect to begin:</label>
                <input asp-for="PracticumForms.FormA.StartDate" type="date" class="form-control">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4">
                <div class="form-check form-check-inline px-0">
                    <label asp-for="PracticumForms.FormA.PaymentCategory" class="form-label">Paid or Unpaid:</label>
                    <select asp-for="PracticumForms.FormA.PaymentCategory" asp-items="@Html.GetEnumSelectList<PaymentCategory>()" class="form-control">
                        <option>--Select--</option>
                    </select>
                    <span asp-validation-for="PracticumForms.FormA.PaymentCategory" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-5">
                <div class="form-check form-check-inline px-0">
                    <label asp-for="PracticumForms.FormA.OutOfCountry" class="form-label">Will you be working outside of the country?</label>
                    <select asp-for="PracticumForms.FormA.OutOfCountry" name="workOutsideCountry" class="form-control">
                        <option value="">--Select--</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                    <span class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="mb-3 text-center">
            <p>Aside from the forms available on this webpage, the Program Assistant will look after all documents required for your host. Formal practicum agreements and evaluation forms will be supplied to your host.</p>
        </div>
        <div class="modal-footer justify-content-center">
            <div>
                <a href="/PracticumForm/Index" class="btn btn-danger">Cancel</a>
            </div>
            <input type="submit" class="btn btn-success" value="Submit" />
            <div>
                <a href="/PracticumForm/CreateFormB" class="btn btn-primary">Next</a>
            </div>
        </div>
    </form>
</div>