
﻿@using CITPracticum.Data.Enum;
@using CITPracticum.ViewModels;
@model CreateFormBViewModel

<a href="/PracticumForm/Index"><i class="fa-solid fa-arrow-left fa-xl"></i></a>
<div class="mx-auto" style="width: 65%;">
    <form>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">Practicum Agreement between Host and Student (Form B)</h3>
                <hr />
            </div>
        </div>
        <ul class="nav nav-tabs mb-4" role="tablist">
            <li class="nav-item">
                <a class="nav-link" href="/PracticumForm/CreateFormFOIP">Form FOIP</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/PracticumForm/CreateFormID">Form ID</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/PracticumForm/CreateFormA">Form A</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/PracticumForm/CreateFormB">Form B</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/PracticumForm/CreateFormC">Form C</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/PracticumForm/CreateFormD">Form D</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/PracticumForm/CreateFormExitInterview">Exit Interview</a>
            </li>
        </ul>
        <div class="row mb-3">
            <div class="col-md-3">
                <label for="pracHost" class="form-label">Practicum Host:</label>
                <input type="text" name="pracHost" class="form-control" />
            </div>
            <div class="col-md-9" style="margin-top: 2.5rem !important;">
                agrees to provide a meaningful work experience for
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3">
                <label for="studName" class="form-label">Student's Name:</label>
                @if (User.IsInRole("student"))
                {
                    <input type="text" name="studName" class="form-control" readonly />
                }
                else
                {
                    <input type="text" name="studName" class="form-control" />
                }
            </div>
            <div class="col-md-1" style="margin-top: 2.5rem !important;">
                from
            </div>
            <div class="col-md-3">
                <label for="studName" class="form-label">Start Date:</label>
                <input type="date" class="form-control">
            </div>
            <div class="col-md-1" style="margin-top: 2.5rem !important;">
                to
            </div>
            <div class="col-md-3">
                <label for="studName" class="form-label">End Date:</label>
                <input type="date" class="form-control">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                based on the student’s skills gained in the Lethbridge College <b>Computer Information Technology</b>
                program. The Practicum Host is responsible for the student’s final evaluation, using the Student
                Evaluation form included in this package and in the host information package.
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                The student shall:
                <ul>
                    <li>
                        Maintain a professional attitude and a high level of participation.
                    </li>
                    <li>
                        Treat this practicum as a job and should adhere to all company employee policies.
                    </li>
                    <li>
                        Track hours worked and report them to the Program Assistant through <b>Form D</b>.
                    </li>
                    <li>
                        Maintain contact with the lead instructor during their practicum.
                    </li>
                    <li>
                        Respect schedules and meet deadlines.
                    </li>
                    <li>
                        Conduct themselves appropriately.
                    </li>
                    <li>
                        Acknowledges that the Host and/or College has the right to terminate an unsatisfactory placement.
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4">
                <label for="formBOrgName" class="form-label">Organization Name:</label>
                <input type="text" name="formBOrgName" class="form-control" />
            </div>
            <div class="col-md-4">
                <label for="formBPrac" class="form-label">Practicum Supervisor:</label>
                <input type="text" name="formBPrac" class="form-control" />
            </div>
            <div class="col-md-4">
                <label for="formBAddress" class="form-label">Address:</label>
                <input type="text" name="formBAddress" class="form-control" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4">
                <label for="formBPosition" class="form-label">Position:</label>
                <input type="text" name="formBPosition" class="form-control" />
            </div>
            <div class="col-md-4">
                <label for="formBEmail" class="form-label">Email Address:</label>
                <input type="text" name="formBEmail" class="form-control" />
            </div>
            <div class="col-md-4">
                <label for="formBPhone" class="form-label">Phone Number:</label>
                <input type="text" name="formBPhone" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                Please enter your first and last name below:
            </div>
        </div>
        <div class="row mb-3 mt-2">
            <div class="col-md-6">
                <label for="formBStudentName" class="form-label">Student Name:</label>
                <input type="text" name="formBStudentName" class="form-control" />
            </div>
            @if (User.IsInRole("employer") || User.IsInRole("admin"))
            {
                <div class="col-md-6">
                    <label for="formBEmployerName" class="form-label">Employer Name:</label>
                    <input type="text" name="formBEmployerName" class="form-control" />
                </div>
            }
            else
            {
                @* Currently displays nothing, but can display readonly of the input as well *@
            }
        </div>
        <!-- Content for Form B -->
        <div class="modal-footer sticky justify-content-center">
            <div>
                <a href="/PracticumForm/Index" class="btn btn-danger">Cancel</a>
            </div>
            <input type="submit" class="btn btn-success" value="Submit" />
            <div>
                <a href="/PracticumForm/CreateFormA" class="btn btn-secondary">Back to Form A</a>
            </div>
        </div>
    </form>
</div>
