@using CITPracticum.ViewModels;

@model SubmitFormAViewModel

@{
    ViewData["Title"] = "Submit Form A";
}


<!-- Form A Page -->
<div class="modal fade" id="formAModal" tabindex="-1" aria-labelledby="formAModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header justify-content-center" style="background: linear-gradient(to right, #FFFFFF, #FFFFFF, #69a620);">
                <img src="~/images/lc.png" alt="Logo" class="float-start" style="height: 50px;"> <!-- Adjust the height as needed -->
                <h5 class="modal-title text-center w-100" id="formAModalLabel">Host information (Form A)</h5>
                <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex justify-content-center">
                <div class="mx-auto" style="width: 50%;">
                    <form>
                        <!-- Student Last Name, First Name, and Student ID -->
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <label for="lastName" class="form-label">Student Last Name:</label>
                                <input type="text" class="form-control" id="lastName">
                            </div>
                            <div class="col-md-4">
                                <label for="firstName" class="form-label">First Name:</label>
                                <input type="text" class="form-control" id="firstName">
                            </div>
                            <div class="col-md-4">
                                <label for="studentId" class="form-label">Student ID:</label>
                                <input type="text" class="form-control" id="studentId">
                            </div>
                        </div>

                        <!-- Program, Host Company, Type of Organization -->
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <label for="program" class="form-label">Program:</label>
                                <input type="text" class="form-control" id="program" value="Computer Information Technology" readonly>
                            </div>
                            <div class="col-md-4">
                                <label for="hostCompany" class="form-label">Host Company:</label>
                                <input type="text" class="form-control" id="hostCompany">
                            </div>
                            <div class="col-md-4">
                                <label for="organizationType" class="form-label">Type of organization:</label>
                                <input type="text" class="form-control" id="organizationType">
                            </div>
                        </div>

                        <!-- Supervisor's Name, Position, and Email -->
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <label for="supervisorName" class="form-label">Supervisor's name:</label>
                                <input type="text" class="form-control" id="supervisorName">
                            </div>
                            <div class="col-md-4">
                                <label for="supervisorPosition" class="form-label">Supervisor's position:</label>
                                <input type="text" class="form-control" id="supervisorPosition">
                            </div>
                            <div class="col-md-4">
                                <label for="supervisorEmail" class="form-label">Supervisor's e-mail:</label>
                                <input type="email" class="form-control" id="supervisorEmail">
                            </div>
                        </div>
                        <!-- ... other fields ... -->
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <label for="phone" class="form-label">Phone number:</label>
                                <input type="tel" class="form-control" id="phone">
                            </div>
                        </div>
                        <!-- ... other fields ... -->
                        <div class="mb-3">
                            <label for="credentials" class="form-label">Supervisor's credentials:</label>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="diploma">
                                <label class="form-check-label" for="diploma">CIT Diploma</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="degreeIS">
                                <label class="form-check-label" for="degreeIS">IS Degree</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="degreeCS">
                                <label class="form-check-label" for="degreeCS">CS Degree</label>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <input type="text" class="form-control mt-2" id="credentialsOther" placeholder="Other">
                                </div>
                            </div>
                        </div>
                        <!-- ... other fields ... -->
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <label for="address" class="form-label">Address:</label>
                                <input type="text" class="form-control" id="address">
                            </div>
                        </div>
                        <!-- ... other fields ... -->
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <label for="startDate" class="form-label">Date you expect to begin:</label>
                                <input type="date" class="form-control" id="startDate">
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="practicumType" id="unpaid" value="Unpaid">
                                <label class="form-check-label" for="unpaid">Unpaid</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="practicumType" id="paid" value="Paid">
                                <label class="form-check-label" for="paid">Paid</label>
                            </div>
                        </div>
                        <div class="mb-3 text-center">
                            <p>Aside from forms in available on this webpage, the Program Assistant will look after all documents required for your host. Formal practicum agreements and evaluation forms will be supplied to your host.</p>
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
