    <div class="container mt-5">
        <!-- List of Forms as Cards -->
        <div class="card" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#formAModal">
            <div class="card-body">
            Form A - Host Information-24WN
            </div>
        </div>

        <div class="card mt-3" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#formBModal">
            <div class="card-body">
            Form B - Practicum Agreement-24WN
            </div>
        </div>

        <div class="card mt-3" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#formCModal">
            <div class="card-body">
                Form FOIP - Student Release-24WN
            </div>
        </div>

    <div class="card mt-3" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#formCModal">
        <div class="card-body">
            Form ID - Student Information-24WN
        </div>
    </div>

    </div>

    <!-- Modals -->
    <div class="modal fade" id="formAModal" tabindex="-1" aria-labelledby="formAModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="formAModalLabel">Form A</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Content for Form A -->
                </div>
            </div>
        </div>
    </div>