
@model AppUser

<h1>Are you sure you want to delete this employer?</h1>

<form method="post" asp-action="Delete" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="UserName">UserName</label>
        <input asp-for="UserName" class="form-control" placeholder="UserName">
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email">Description</label>
        <input asp-for="Email" class="form-control" placeholder="Email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CompanyName">State</label>
        <input asp-for="CompanyName" class="form-control" placeholder="CompanyName">
        <span asp-validation-for="CompanyName" class="text-danger"></span>
    </div>
</form>
<div class="form-group">
    <form action="Delete" method="post">
        <input type="hidden" asp-for="Email" />
        <input type="submit" value="Confirm" class="btn btn-danger float-right mt-3" />
        <a class="btn btn-outline-secondary" asp-controller="JobPosting" asp-action="Index">Cancel</a>
    </form>
</div>