@model Employer

<!-- Portfolio Item Heading -->
<button onclick="window.history.back();" class="btn btn-secondary mb-3">Back</button>
@if (User.IsInRole("admin"))
{
    <h1>@Model.CompanyName's Profile</h1>
}
else
{
    <h1>Welcome, @Model.CompanyName!</h1>
}
<!-- Porfolio Item Row -->

<div class="row mt-3">
    <label>Profile Picture:</label>
    <div class="col-md-4">
        <img src="~/images/side.jpg" class="w-50" style="" />
    </div>
</div>

@if (User.IsInRole("employer"))
{
    <div class="row mt-2">
        <div class="col-md-4">
            <label>Upload new profile picture:</label>
            <input type="file" class="mt-2" value="Choose Profile Picture" />
            <form>
                <button class="btn btn-primary mt-2">Change Profile Picture</button>
            </form>
        </div>
    </div>
}

@if (User.IsInRole("admin"))
{
    <h4 class="mt-3">Employer Information</h4>
}
else if (User.IsInRole("employer"))
{
    <h4 class="mt-3">Company Information</h4>
}

@* Main Content *@
<!-- Program, Host Company, Type of Organization -->
<div class="row mb-3 mt-3">
    <div class="col-md-4">
        <label class="form-label">Host Company:</label>
        <input type="text" class="form-control">
    </div>
    <div class="col-md-4">
        <label class="form-label">Type of organization:</label>
        <input type="text" class="form-control">
    </div>
    <div class="col-md-4">
        <label class="form-label">Supervisor's name:</label>
        <input type="text" class="form-control">
    </div>
</div>

<!-- Supervisor's Name, Position, and Email -->
<div class="row mb-3">
    <div class="col-md-4">
        <label class="form-label">Supervisor's position:</label>
        <input type="text" class="form-control">
    </div>
    <div class="col-md-4">
        <label class="form-label">Supervisor's e-mail:</label>
        <input type="text" class="form-control">
    </div>
    <div class="col-md-4">
        <label class="form-label">Phone number:</label>
        <input type="text" class="form-control">
    </div>
</div>
<!-- ... other fields ... -->

<div class="form-group mb-3">
    <label class="form-label">Supervisor's Credentials</label>
    <div class="col-md-9">
        <input class="form-check-input" type="checkbox" name="CredentialsList" value="CIT Diploma" /><span class="mx-2">CIT Diploma</span>
        <input class="form-check-input" type="checkbox" name="CredentialsList" value="IS Degree" /><span class="mx-2">IS Degree</span>
        <input class="form-check-input" type="checkbox" name="CredentialsList" value="CS Degree" /><span class="mx-2">CS Degree</span>
    </div>
</div>
<div class="row mb-3">
    <div>
        <label class="form-label">Other Credentials:</label>
        <input type="text" class="form-control">
    </div>
</div>

<!-- ... other fields ... -->
<div class="row mb-3">
    <div class="col-md-4">
        <label class="form-label">Street:</label>
        <input type="text" class="form-control">
    </div>
    <div class="col-md-4">
        <label class="form-label">City:</label>
        <input type="text" class="form-control">
    </div>
    <div class="col-md-4">
        <label class="form-label">Province:</label>
        <input type="text" class="form-control">
    </div>
    <div class="col-md-4">
        <label class="form-label">Country:</label>
        <input type="text" class="form-control">
    </div>
    <div class="col-md-4">
        <label class="form-label">Postal Code:</label>
        <input type="text" class="form-control">
    </div>
</div>

@* End of Main Content *@

@if (User.IsInRole("admin"))
{
    <h4 class="mt-4">Change Password</h4>

    <form>
        <div class="row mt-3">
            <div class="col-md-4">
                <label>New Password:</label>
                <input type="text" class="form-control" />
            </div>
            <div class="col-md-4">
                <label>Confirm New Password:</label>
                <input type="text" class="form-control mb-3" />
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary">Change Password</button>
            </div>
        </div>
    </form>
}
