@model Employer

@{
    ViewData["Title"] = "Employers";
    ViewData["CurrentPage"] = "Employers > Profile";
}

<div class="step1">
    <!-- Portfolio Item Heading -->
    <button onclick="window.history.back();" class="btn btn-secondary mb-3">Back</button>
    @if (User.IsInRole("admin"))
    {
        <h1 class="step2">@Model.CompanyName's Profile</h1>
    }
    else
    {
        <h1>Welcome, @Model.CompanyName!</h1>
    }
    <!-- Porfolio Item Row -->

    <div class="row mt-3">
        <label>Profile Picture:</label>
        <div class="col-md-4">
            <img src="~/images/side.jpg" class="w-50" style="" />
        </div>
    </div>

    @if (User.IsInRole("employer"))
    {
        <div class="row mt-2">
            <div class="col-md-4">
                <label>Upload new profile picture:</label>
                <input type="file" class="mt-2" value="Choose Profile Picture" />
                <form>
                    <button class="btn btn-primary mt-2">Change Profile Picture</button>
                </form>
            </div>
        </div>
    }

    <div class="step3">
        @if (User.IsInRole("admin"))
        {
            <h4 class="mt-3">Employer Information</h4>
        }
        else if (User.IsInRole("employer"))
        {
            <h4 class="mt-3">Company Information</h4>
        }

        @* Main Content *@
        <!-- Program, Host Company, Type of Organization -->
        <div class="row mb-3 mt-3">
            <div class="col-md-4">
                <label class="form-label">Host Company:</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-4">
                <label class="form-label">Type of organization:</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-4">
                <label class="form-label">Supervisor's name:</label>
                <input type="text" class="form-control">
            </div>
        </div>

        <!-- Supervisor's Name, Position, and Email -->
        <div class="row mb-3">
            <div class="col-md-4">
                <label class="form-label">Supervisor's position:</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-4">
                <label class="form-label">Supervisor's e-mail:</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-4">
                <label class="form-label">Phone number:</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <!-- ... other fields ... -->

        <div class="form-group mb-3">
            <label class="form-label">Supervisor's Credentials</label>
            <div class="col-md-9">
                <input class="form-check-input" type="checkbox" name="CredentialsList" value="CIT Diploma" /><span class="mx-2">CIT Diploma</span>
                <input class="form-check-input" type="checkbox" name="CredentialsList" value="IS Degree" /><span class="mx-2">IS Degree</span>
                <input class="form-check-input" type="checkbox" name="CredentialsList" value="CS Degree" /><span class="mx-2">CS Degree</span>
            </div>
        </div>
        <div class="row mb-3">
            <div>
                <label class="form-label">Other Credentials:</label>
                <input type="text" class="form-control">
            </div>
        </div>

        <!-- ... other fields ... -->
        <div class="row mb-3">
            <div class="col-md-4">
                <label class="form-label">Street:</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-4">
                <label class="form-label">City:</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-4">
                <label class="form-label">Province:</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-4">
                <label class="form-label">Country:</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-4">
                <label class="form-label">Postal Code:</label>
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
</div>

@* End of Main Content *@

@if (User.IsInRole("admin"))
{
    <div class="step4">
        <h4 class="mt-4">Change Password</h4>

        <form>
            <div class="row mt-3">
                <div class="col-md-4">
                    <label>New Password:</label>
                    <input type="text" class="form-control" />
                </div>
                <div class="col-md-4">
                    <label>Confirm New Password:</label>
                    <input type="text" class="form-control mb-3" />
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </div>
            </div>
        </form>
    </div>
}

@if (User.IsInRole("admin"))
{
    <script>
        const tour = new Shepherd.Tour({
            useModalOverlay: true,
            defaultStepOptions: {
                classes: 'shadow-md bg-purple-dark',
                scrollTo: true
            },
            defaultStepOptions: {
                exitOnEsc: true
            }
        });

        @*Start of Dashboard Demo*@
            tour.addStep({
                id: 'example-step',
                text: 'This is the employer information and profile page.',
                attachTo: {
                    element: '.step1',
                    on: 'bottom'
                },
                classes: 'step1',
                buttons: [
                    {
                        text: 'Next',
                        action: tour.next
                    },
                    {
                        text: 'Exit Tour',
                        action: tour.cancel
                    }
                ]
            });

        tour.addStep({
            id: 'example-step',
            text: 'This shows you the employer profile you are currently on.',
            attachTo: {
                element: '.step2',
                on: 'bottom'
            },
            classes: 'step2',
            buttons: [
                {
                    text: 'Next',
                    action: tour.next
                },
                {
                    text: 'Exit Tour',
                    action: tour.cancel
                }
            ]
        });

        tour.addStep({
            id: 'example-step',
            text: 'This is the employers information.',
            attachTo: {
                element: '.step3',
                on: 'bottom'
            },
            classes: 'step3',
            scrollTo: {
                behavior: 'smooth',
                block: 'center'
            },
            buttons: [
                {
                    text: 'Next',
                    action: tour.next
                },
                {
                    text: 'Exit Tour',
                    action: tour.cancel
                }
            ]
        });

        tour.addStep({
            id: 'example-step',
            text: 'This is the area you can change the password in for the employer in the case that they forget or misplace their old password.',
            attachTo: {
                element: '.step4',
                on: 'bottom'
            },
            scrollTo: {
                behavior: 'smooth',
                block: 'center'
            },
            classes: 'step4',
            buttons: [
                {
                    text: 'Finish',
                    action: tour.cancel
                }
            ]
        });
        @*End of Dashboard Demo*@
    </script>
}
