@using CITPracticum.Data.Enum;
@using CITPracticum.ViewModels;

@model EditEmployerViewModel

@{
    ViewData["Title"] = "Employers";
    ViewData["CurrentPage"] = "Employers > Edit";
}


@if (TempData["Error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="fa-solid fa-circle-exclamation fa-lg"></i> @TempData["Error"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <div class="mx-auto step1" style="width: 50%;">
        <input type="hidden" value="Id" id="Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-12">
                <h4>Edit an Employer</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label asp-for="FirstName" class="control-label">First Name:</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="LastName" class="control-label">Last Name:</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label asp-for="CompanyName" class="control-label mt-2">Company Name:</label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="EmpEmail" class="control-label mt-2">Employer Email:</label>
                <input asp-for="EmpEmail" class="form-control" />
                <span asp-validation-for="EmpEmail" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label asp-for="Affiliation" class="control-label mt-2">Does the employer currently have an affiliation agreement?</label>
                <select asp-for="Affiliation" class="form-control">
                    <option value="@false">No</option>
                    <option value="@true">Yes</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mt-2">
                <label asp-for="EmployerComments" class="form-label">Employer Comments:</label>
                <textarea asp-for="EmployerComments" class="form-control" placeholder="Enter comments here" rows="6"></textarea>
                <span asp-validation-for="EmployerComments" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="form-group mt-2">
                <input class="btn btn-outline-success" type="submit" value="Save" />
                <a class="btn btn-outline-secondary" asp-controller="Employer" asp-action="Index">Cancel</a>
            </div>
        </div>
    </div>
</form>

<script>
    const tour = new Shepherd.Tour({
        useModalOverlay: true,
        defaultStepOptions: {
            classes: 'shadow-md bg-purple-dark',
            scrollTo: true
        },
        defaultStepOptions: {
            exitOnEsc: true
        }
    });

    @*Start of Dashboard Demo*@
        tour.addStep({
            id: 'example-step',
            text: 'This is the edit employer page. Edit the information as needed and then submit the form.',
            attachTo: {
                element: '.step1',
                on: 'bottom'
            },
            classes: 'step1',
            buttons: [
                {
                    text: 'Finish',
                    action: tour.cancel
                }
            ]
        });
    @*End of Dashboard Demo*@
</script>