@model AppUser

<div class="container vertical-center">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="confirmation-title text-center">Are you sure you want to delete this student?</h1>
            <hr />
            <form method="post" asp-action="Delete" enctype="multipart/form-data">
            <div class="form-group">
                <label><h5>Email Address:</h5></label>
                <p>@Model.Email</p>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label><h5>First Name:</h5></label>
                <p>@Model.Student.FirstName</p>
                <span asp-validation-for="Student.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label><h5>Last Name:</h5></label>
                <p>@Model.Student.LastName</p>
                <span asp-validation-for="Student.LastName" class="text-danger"></span>
            </div>

            </form>
            <hr />
           <div class="form-group">
            <form action="Delete" method="post">
                <input type="hidden" asp-for="Email" />
                <input type="hidden" name="id" value="@Model.Student.Id" />
                <input type="submit" value="Confirm" class="btn btn-danger float-right" />
                <a class="btn btn-secondary" asp-controller="Student" asp-action="Index">Cancel</a>
            </form>
           </div>
        </div>
    </div>
</div>
