@using CITPracticum.ViewModels
@model RegisterStudentViewModel

@{
    ViewData["Title"] = "Students";
    ViewData["CurrentPage"] = "Students > Add";
}

<div class="mx-auto step1" style="width: 50%;">
    @if (TempData["Error"] != null)
    {
        <div class="col-md-12 alert alert-danger">
            <span><b>Sorry! </b>@TempData["Error"]</span>
        </div>
    }
        <form method="post" asp-action="Register" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                <button type="button" onclick="window.history.back();" class="btn btn-secondary mb-3"><i class="fa-solid fa-chevron-left"></i> Back</button>
                    <p>
                        <h4>Add a Student</h4>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <label asp-for="EmailAddress" class="control-label">Email Address:</label>
                        <input asp-for="EmailAddress" class="form-control" maxlength="50" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label mt-2">First Name:</label>
                        <input asp-for="FirstName" class="form-control" maxlength="50" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label mt-2">Last Name:</label>
                        <input asp-for="LastName" class="form-control" maxlength="50" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <label asp-for="StuId" class="control-label mt-2">Student ID:</label>
                        <input asp-for="StuId" class="form-control" maxlength="8" />
                        <span asp-validation-for="StuId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <label asp-for="Password" class="control-label mt-2">Password:</label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label mt-2">Confirm Password:</label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group mt-2">
                        <input class="btn btn-outline-success float right" type="submit" value="Register" />
                        <a class="btn btn-outline-secondary" asp-controller="Student" asp-action="Index">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
</div>

<script>
    const tour = new Shepherd.Tour({
        useModalOverlay: true,
        defaultStepOptions: {
            classes: 'shadow-md bg-purple-dark',
            scrollTo: true
        },
        defaultStepOptions: {
            exitOnEsc: true
        }
    });

    @*Start of Add Student Demo*@
        tour.addStep({
            id: 'example-step',
            text: 'Here is the add student page. Please fill out all of the information, and then submit the form.',
            attachTo: {
                element: '.step1',
                on: 'bottom'
            },
            classes: 'step1',
            buttons: [
                {
                    text: 'Finish',
                    action: tour.cancel
                }
            ]
        });
    @*End of Add Student Demo*@
</script>